/* CSS */
.make-it-pop {
  filter: drop-shadow(0 0 10px purple);
}

.fragment.blur {
  filter: blur(5px);
}
.fragment.blur.visible {
  filter: none;
}

.agenda li{
  margin-top: 12px;
}

.overlay {
  background-color: transparent;
}

.overshadowed {
  filter: opacity(25%) ;
}

.rot-1 {
  transform: rotate(16deg);
}

.rot-2 {
  transform: rotate(-33deg);
  translate: -79px 130px;
}

.rot-2 {

}

.shapes-grid {
  display: grid;
  grid-template: "head head" 2em
                 "nav content" 8em / 1fr 4fr;
  gap: 16px;
}

.shape.fragment {
  display: block;
  background-color: transparent;
}

.shape.fragment {
  display: flex;
  border-radius: 8px;
  border-style: dashed;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.shape.fragment > span {
  visibility: hidden;
}

.shape.fragment.visible > span {
  visibility: visible;
}

.shapes-grid .shapes-header {
  grid-area: head;
}

.shapes-grid .shapes-nav {
  grid-area: nav;
}

.shapes-grid .shapes-content {
  grid-area: content;
}

.shapes-grid .shapes-header.visible {
  background-color: darkcyan;
}

.shapes-grid .shapes-nav.visible {
  background-color: darkcyan;
}

.shapes-grid .shapes-content.visible {
  background-color: darkcyan;
}